@{
    ViewData["Title"] = "Home Page";
}

<div class="IndexDiv">
    <p><h1 class="text-center font-weight-bolder">Facturación</h1></p>
    <div class="row m-2">

        <div class="col-8">
            <p><h5>Administra tus facturas</h5></p>
        </div>
        <div class="col-4">
            <img src="~/images/shoppingcart.png" class="img-fluid" />
        </div>
    </div>
</div>